<form action="/{{propulsion.id}}/edit" method="post">
  <input type="text" name="title" placeholder="Name" value="{{propulsion.title}}">
  <textarea name="description" placeholder="Description" value="{{propulsion.description}}"></textarea>
  <input type="url" name="image" placeholder="Image Url" value="{{propulsion.image}}">
  <button type="submit">Edit</button>

</form>
